.weather-app__forecast {
    display: grid;
    grid-template-columns: repeat(3, 158px);
    grid-template-rows: repeat(2, 196px);
    gap: 16px;
}

.forecast-card {
    background: rgba(245, 244, 244, 0.4);
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.forecast-card__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:var(--app-secondary-color, rgba(32, 32, 32, 1));
}

.forecast-card__icon {
    width: 32px;
    height: 32px;
    background: transparent url("../../assets/images/content/climate/direction.svg") center center no-repeat;
}

.forecast-card__value {
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color:var(--app-secondary-color, rgba(32, 32, 32, 1));
}

.pressure {
    background: transparent url("../../assets/images/content/climate/barometr.svg") center center no-repeat;
}

.humidity {
    background: transparent url("../../assets/images/content/climate/humidity.svg") center center no-repeat;
}

.visibility {
    background: transparent url("../../assets/images/content/climate/visibility.svg") center center no-repeat;
}

.sunrise {
    background: transparent url("../../assets/images/content/climate/sunrise.svg") center center no-repeat;
}

.sunset {
    background: transparent url("../../assets/images/content/climate/sunset.svg") center center no-repeat;
}

.NW {
    transform: rotate(90deg);
}

.N{
    transform: rotate(45deg);
}

.NE{
    transform: rotate(0deg);
}

.W{
    transform: rotate(135deg);
}

.SW{
    transform: rotate(-90deg);
}

.S{
    transform: rotate(-135deg);
}

.E{
    transform: rotate(-45deg);
}

.SE{
    transform: rotate(-90deg);
}

.current-weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.current-weather-details__parameter-img {
    width: 126px;
    height: 8px;
}

.weather-details__value--percentage-seventy-five {
    background: url("../../assets/images/content/progressBar/progress75.svg") center center no-repeat;
}

.weather-details__value--high {
    background: url("../../assets/images/content/implementationProgress/progressBlackHigh.svg") center center no-repeat;
}

.weather-details__value--normal {
    background: url("../../assets/images/content/implementationProgress/progressBlackNormal.svg") center center no-repeat;
}

.weather-details__value--low {
    background: url("../../assets/images/content/implementationProgress/progressBlackLow.svg") center center no-repeat;
}

.weather-details__value--percentage-0{
    background: url("../../assets/images/content/progressBar/progress0.svg") center center no-repeat;
}

.weather-details__value--percentage-25 {
    background: url("../../assets/images/content/progressBar/progress25.svg") center center no-repeat;
}

.weather-details__value--percentage-50 {
    background: url("../../assets/images/content/progressBar/progress50.svg") center center no-repeat;
}

.weather-details__value--percentage-75 {
    background: url("../../assets/images/content/progressBar/progress75.svg") center center no-repeat;
}

.weather-details__value--percentage-100 {
    background: url("../../assets/images/content/progressBar/progress100.svg") center center no-repeat;
}

.current-weather-details__parameter--percentage-block {
    display: flex;
    align-items: center;
    gap: 80px;
}

.current-weather-details__parameter-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color:var(--app-secondary-color, rgba(32, 32, 32, 1));
}