.weather-app__search {
    display: flex;
    align-items: center;
    background: rgba(245, 244, 244, 0.4);
    border-radius: 8px;
    padding: 12px 16px;
    border: none;
    width: 506px;
    gap: 16px;
}

.weather-app__search-input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--app-secondary-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    width: 100%;
}

.weather-app__search-input::placeholder {
    color: rgba(112, 112, 112, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
}

.weather-app__search:hover,
.weather-app__search:active{
    background: rgba(218, 218, 218, 1);
}

.weather-app__search-button {
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.weather-app__search-button--search {
    background: transparent url("../../assets/ui/search.svg") center center no-repeat;
}

.weather-app__search-button--close {
    background: transparent url("../../assets/ui/close.svg") center center no-repeat;
}

.weather-app__search-button--close:hover {
    background: transparent url("../../assets/ui/dismiss.svg") center center no-repeat;
}